//COLORS

//$colorPrimary: #C4977C; //LessonSite
$colorPrimary: #7a5042; //LessonSite
$colorPrimary-dark: #9d7964; //LessonSite
$colorPrimary-light: #e4c2b6; //LessonSite
$colorPrimary-veryDark: #A43C3D; //AllowanceTracker


$colorSecondary: #D9AE5C; //AllowanceTracker
// $colorSecondary: #fff5e7;//rgba(255,253,219,1.9);//D7DDDA;

$colorTertiary: #CCAC8B; //AllowanceTracker
$colorTertiary-light: #E2C9AF; //AllowanceTracker
$colorTertiary-dark: #AD9068;//AllowanceTracker

$colorGrey-light1: #fbf2ff; //LessonSite
$colorGrey-light2: #eee;
$colorGrey-light3: #ccc;

$colorGrey-dark1: #777;
// $colorGrey-dark2: #999;
$colorGrey-dark3: #544B3E; //AllowanceTracker

$colorBlack: #333;
// $colorPaletteBlack: #310a20;
$colorWhite: #ffffff;
// $colorOffwhite: #f0f0ee;

$colorDanger: rgb(255, 51, 0);

//GRID VARIABLES

$grid-width: 114rem;
$gutter-leftright: 1rem;
$gutter-topbott: 2rem;