.addTransaction {
    margin-top: 25px;
    border: 2px solid $colorPrimary;
    border-top: 30px solid #e47587;
    padding: 1rem;
    &>h3 {
        color: $colorSecondary;
        &>span {
            color: $colorPrimary;
        }
    }
    &__form>form {
        display: flex;
        justify-content: space-between;
        &>input {
            border-radius: 7px;
        }
    }
}