// .contact {
//     line-height: normal;
//     background-color: #ffffff;
//     padding: 0 10%;
//     margin-bottom: 3rem;
//     text-align: center;

//     & h2 {
//         margin: 0 auto;
//         &:after {
//             display: block;
//             height: 2px;
//             background-color: $colorPrimary;
//             content: ' ';
//             width: 100px;
//             margin: 0 auto;
//             margin-top: 30px;
//         }
//     }
// }

.outerContact {
    background-image: linear-gradient(to bottom, #D0BF93, rgba(208,191,147, .15) 10%, rgba(208,191,147, 0) 100%);
}

.contact {
    border: 1px solid #333333;
    border-radius: 7px;
    margin: 75px auto;
    padding: 20px; 
    width: fit-content;
    background-color: white;

    &__text {
        
        color: rgb(113, 113, 113);
        font-size: 24px;
        font-family: 'Josefin Slab', serif;
        text-align: center;
        margin: auto;
        padding: 50px 50px 0;
        font-weight: 600;
        @include respond(portrait900) {
            
        }
        @include respond(phone) {
            
        }
    }
    &__form {
        background-color: #fcfcfc;
        width: fit-content;
        height: fit-content;
        border: 1px solid #333333;
        border-radius: 7px;

        @include respond(phone) {
            position: static;
            margin: 50px auto;
        }

        &--title {
            background-color: #ddd;
            padding: 5px 3px;
            font-size: 21px;
            border-radius: 7px 7px 0 0;
        }
        &--userInputs {           
            padding: 20px 10px;
            line-height: 2;
            background-color: transparent;

            & div {
                width: 100%;
                display: flex;
                justify-content: stretch;  
            }
            & label {
                flex: 2;
                text-align: right;
                margin-right: 3px;
            }
            & input {
                flex: 8;
                margin: 3px;
                padding: 2px;
            }
            & textarea {
                width: 100%;
            }
            & input,
            & textarea {
                border-radius: 7px;
                font-size: 16px;
            }   
            & button {
                border-radius: 7px;
                font-size: 20px;
                display: block;
                margin: 0 auto;
                padding: 3px 10px;
            }
        }       
    }
    &__phone {
        margin-bottom: 25px;
        font-family: 'Josefin Slab', serif;
        font-size: 21px;
        font-weight: 600;

        @include respond(portrait900) {
            bottom: 95px;      
        }
        @include respond(phone) {
            position: static;
            margin: 50px 20%;
            text-align: center;        
        }
    }
    
}

//reCaptcha
.g-recaptcha {
    transform:scale(0.81);
    -webkit-transform:scale(0.81);  
    transform-origin:0 0;
    -webkit-transform-origin:0 0;

    right: 0 !important;
}

