.hero {
    width: 100%;
    height: 430px;
    background-image: linear-gradient(to right, rgba(41,32,16, 0.2), rgba(41,32,16,0.4)), url(../img/headHarpsCrop2AdjustColor.jpg);
    background-size: cover;
    position: relative;

    //logo stylings found in layout/_navigation.scss

    &__mainTitle {
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $colorGrey-light1;

        &--mainHeading {
            font-weight: 400;
            letter-spacing: .6rem;
            font-size: 350%;
            word-spacing: .8rem;

            @include respond(phone) {
                font-size: 120%;
                font-weight: 400;
            }
        }

        &--subHeading {
            
            font-weight: 400;
            letter-spacing: 3px;
            font-size: 2rem;
                      
            &>span {
                font-style: italic;
                font-weight: 400;
                font-size: 80%;               
            }
            @include respond(phone) {
                font-size: 145%;
            }
        }
    }
}