.listings {
    padding: 0 2rem 0 2rem;
    @include respond(portrait) {
        padding: 0;
    }

    &__headers {
        display:flex;
        margin-top: 1.5rem;
        &--type {
            flex: 3;
        }
        &--note {
            flex: 8;
        }
        &--amount {
            flex: 2;
        }
        &--balance {
            flex: 1;
        }       
    }
    &__job { 
        padding-top: 1.5rem;
        &--info {
            font-size: 80%;
            &-line1 {
                display: flex;
                justify-content: space-between;
                @include respond(portrait) {
                    margin-top: 1rem;
                }
                &-datePosted {
                    font-style: italic;
                    margin-bottom: 8px;
                }
            }

            &-line2 {
                display: flex;
                
                &>h2 {
                    padding-left: 4rem;
                    flex: 8;
                }
                &Amount,
                &Balance {
                    flex: 1;
                }              
            }
        }
    }
}