.main {
    margin: 2rem;
    @include respond(phone) {
        margin: 1rem;
    }

    &>ul {
        margin-top: 1rem;
    }
    @include respond(phone) {
        margin: 1rem;
    }

    &>h1 {
        @include respond(phone) {
            font-size: 160%;
        }

        &>span {
            color: $colorPrimary;       
        }
    }
    
    &__image>img {
        margin: 1rem;
    }
    &__collage {
        display: flex;
        width: 100%;
        justify-content: space-between;

        &--col1 {
            width: 100%;
        }
    }
    &__image {
        &--hands{
            width: 35%;
            height: 415px;
            background-image: url("https://res.cloudinary.com/take2tech-ca/image/upload/v1555114552/harptisha/tishaHandsAdjustColor.jpg");
            background-size: cover;
            margin-top: 1rem;
            float: right;
            border-radius: 7px;          
            
            @include respond(phone) {
                width: 40%;
            }
            
        }

        &--laurentries>img {
            width: 25%; 
            float:left;
            margin-top: 2.5rem;   
            
            @include respond(phone) {
                float: none;
                width: 65%;
                margin-left: 0;
            }
        }

        &--dawn>img {
            width: 25%;
            float: right;
            margin-top: 3rem; 

            @include respond(phone) {
                float: none;
                width: 65%;
                margin-left: 0;
            }
        }

        &--alita>img {          
            width: 95%;
            margin: 2rem 0;

            @include respond(phone) {
                width: 90%;
            }
        }

        &--karen>img {
            float: right;
            width: 95%;
            margin-top:2rem;
            @include respond(phone) {
                margin-bottom: .5rem;
                width: 90%;
            }
           
        }
        &--lauren>img {
            float: right;
            width: 95%; 
            @include respond(phone) {
                margin-bottom: .5rem;
                margin-top: 0;
                width: 90%;
            }          
        }
               
        &--skype>img {
            width: 95%;
            float: right;
            margin-left: 0;

            @include respond(phone) {
                margin-top: 0;
                width: 90%;
            }

            &>p {
                padding-left: 5%;
            }
        }
    }
    
    h1,
    h3,
    h4 {
        font-weight: 400;
    }
    h3 {
        font-style: italic;
    }
    h4 {
        font-size: 138%;
        margin-top: 2rem;
        @include respond(phone) {
            margin-top: inherit;
        }
    }

    ul {
        list-style-position: inside;
    }
}

.contactArea {
    border: 1px solid #333;
    border-radius: 7px;
    margin: 50px 2rem 75px;
    @include respond(phone) {
        margin: 50px 1rem 75px;
    }

    &__title {
        background-color: #f1f1f1;  
        border-radius: 7px;
        padding: 10px;
        text-align: center;
        font-size: 30px;
        letter-spacing: 1.3px;
        font-weight: 600;
        color: $colorPrimary;
    }
    &__text {
        padding: 25px;
        text-align: center;
    }
}